streamlit
pandas
altair
plotly

sklearn

sklearn.ensemble
RandomForestClassifier
sklearn.tree 
DecisionTreeClassifier
sklearn.model_selection 
train_test_split
sklearn.metrics 
accuracy_score
classification_report
confusion_matrix
sklearn.preprocessing 
LabelEncoder
sklearn.cluster 
KMeans
matplotlib.pyplot 
seaborn 

sklearn.preprocessing
MinMaxScaler
numpy 

joblib
You sent
nc
